<!doctype html>	

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>define(@{{ watched_bot }})</title>
	<link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
	<script src="{{ static_url("js/modernizr-1.5.min.js") }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Mate:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
		<!-- <h1>define(@everyword)</h1> -->
	</header><!-- end header -->

	<div id="main">
		<div id="container">
			<div id="defintion_container">
				<p class="defined_word">{{ lastUpdate['text'] }}</p>
				<div class="pronunciation">
					<span class="part_of_speech">
						{% if lastDefinition['part_of_speech'] != "" %}
							{{ lastDefinition['part_of_speech'] }}
						{% end %}
					</span>
					<span class="pronunciation_phonetic">
						{{ lastDefinition['pronunciation_phonetic'] }}
					</span>
					<span class="pronunciation_audio">
						<a href="{{ lastDefinition['pronunciation_audio'] }}">
							<img src="{{ static_url("images/speaker_icon-20.png") }}" width="12px" height="12px">
						</a>
					</span>
				</div>

				{% set counter=0 %}
				{% for definitions in lastDefinition['definitions'] %}
					{% set counter+=1%}
					<p class="definition">{{ counter }}: {% raw definitions %}</p>
				{% end %}
				<p class="details timeago">- from <a href="http://www.twitter.com/{{ watched_bot }}">@{{ watched_bot }}</a> about <a class="timeago" href="http://www.twitter.com/{{ watched_bot }}/statuses/{{ lastUpdate['id'] }}">{{ locale.format_date(lastUpdate['timestamp'], gmt_offset=0, relative=True) }}</a></p>
			</div>		
		</div><!-- end container -->
	</div><!-- end main -->

	<footer>
		<p>Just definin'<a href="http://www.twitter.com/{{ watched_bot }}">@{{ watched_bot }}</a>.</p>
	</footer><!-- end footer -->

	<!-- Load jQuery -->
	<script src="http://www.google.com/jsapi"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="{{ static_url("js/jquery-1.6.4.min.js") }}"><\/script>')</script>

	<!-- plugins -->
	<script src="{{ static_url("js/plugins.js") }}"></script>
	<script src="{{ static_url("js/jquery.timeago.js") }}"></script>

	<!-- main script -->
	<script src="{{ static_url("js/script.js") }}"></script>

	{% if (google_analytics_id != False) %}
	<!-- analytic party -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	{% end %}

	</body>
</html>